* {
    font-family: urbane-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #db524d;
}

.wrapper {
    max-width: 60vw;
    margin: 0 auto;
    height: 100vh;
}

header {
    height: 80px;
}

.header * {
    color: #fffcfc;
    margin:0;
    display: flex;
}

.header {
    background-color: #db524d;
    display: flex;
    border-bottom:  #c94b46 solid 2px;
    height: 100%;
    margin-top: 10px;
}

.header h1 {
    font-weight: 700;
    font-size: 120%;
    margin: 0;
}

.header svg {
    margin-right: 5px;
}

.button {
    background-color: #df645f;
    margin-left: 20px;
    margin-top: 18px;
    height: 40%;
    width: auto;
    border-radius: 10%;
    padding: 4px 10px;
}

.button > svg {
    margin: auto 6px;
}

.button > span {
    margin: auto;
    font-size: 60%;
}


#logo {
    background-color: #db524d;
}

#spacer {
    width: 30%
}