* {
    font-family: urbane-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #db524d;
}

.wrapper {
    max-width: 60vw;
    margin: 0 auto;
    height: 100vh;
}

/* HEADER //////////////////////////////////////////////////////////////////////////// */

header {
    height: 80px;
}

.header * {
    color: #fffcfc;
    margin:0;
    display: flex;
}

.header {
    background-color: #db524d;
    display: flex;
    border-bottom:  #c94b46 solid 2px;
    height: 100%;
    margin-top: 10px;
}

.header h1 {
    font-weight: 700;
    font-size: 120%;
    margin: 0;
}

.header svg {
    margin-right: 5px;
}

.button {
    background-color: #df645f;
    margin-left: 20px;
    margin-top: 18px;
    height: 40%;
    width: auto;
    border-radius: 10%;
    padding: 4px 10px;
}

.button:hover {
    background-color: #c94b46;
    cursor: pointer;
}

.button > svg {
    margin: auto 6px;
}

.button > span {
    margin: auto;
    font-size: 60%;
}


#logo {
    background-color: #db524d;
}

#spacer {
    width: 30%
}

/* LANDING PAGE /////////////////////////////////////////////////////////////////// */

.landing {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px auto;
    max-width: 90%;
    margin: auto;
}

.clockDisplay {
    background-color: #df645f;
    margin-top: 35px;
    height: 80%;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonWrap {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
}

.clockButton {
    color: #fffcfc;
    margin-right: 5%;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    height: 50%;
}

.clockButton:hover {
    background-color: #c94b46;
    cursor: pointer;
}

.clock {
    color: #fffcfc;
    font-weight:500;
    font-size: 700%;
    width: 90%;
    margin: auto;
    text-align: center;
}

#startButton {
   background-color: #fffcfc;
   width: 40%;
   color: #df645f;
   font-weight: 700;
   text-align: center;
   font-size: 170%;
   padding-top: 10px;
   margin: auto;
   height: 10%;
   border-radius: 5px;
   box-shadow: 0px 7px #ebebeb;
}

.currentJob {
    grid-row: 2;
    color: #ff9e9a;
    font-weight: 500;
    font-size: 70%;
    margin: 5px auto;
}

.jobId {
    color:#ebebeb;
    font-weight: 700;
    margin: auto;
}

.taskPanel {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    row-gap: 5px;
}

.taskBar {
    display: flex;
    justify-content: space-between;
    border-bottom: #ff9e9a solid 2px;
    grid-row: 1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.taskBar > span {
    color: #ebebeb;
    font-weight: 700;
}

.taskBar > svg {
    color: #ebebeb;
    background-color:#df645f;
    padding: 3px;
    border-radius: 3px;
}

.tasks{
    width: 100%;
    background-color: #ebebeb;
    height: 55px;
    border-radius: 3px;
    display: flex;
}

#task1 {
    grid-row: 2;
    box-shadow: black -5px 0px;
    width: 99%;
    justify-self: end;
}

.tasks > span {
    font-weight: 700;
    font-size: 80%;
    margin-top: 20px;
    margin-left: 10px;
}

.tasks > svg {
    margin-top: 18px;
    margin-left: 15px;
}

#task1 > svg {
    color: lightgrey;
}

#task2 > svg {
    color: #db524d 
}



#task2 {
    grid-row: 3;
}

#task2 > span {
    text-decoration: line-through;
}

#addTask {
    grid-row: 4;
    background-color: #c94b46;
    border:rgb(175, 138, 138) dashed 3px;
    width: 99%;
    display: flex;
    justify-content: center;
}

#addTask > svg {
    color: lightgrey;
}

#addTask > span {
    font-weight: 500;
    color: lightgrey;
}

#counter {
    background-color: #df645f ;
    border-top: #ff9e9a solid 2px;
    margin-top: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#counter :nth-child(even) {
    font-weight: 500;
    color:#ebebeb;
    font-size: 130%;
}

#counter :nth-child(odd) {
    color: #f6c0be;
    font-weight: 500;
}

/* content ///////////////////////////////////////////////////////////////////////////////// */

.contentContainer {
    background-color: #ebebeb;
}

.content {
    background-color: #ebebeb;
    color: #541c1f;
    width: 50%;
    padding: 5% 20% 5% 20%;
    max-width: 62ch;
    margin: auto;
}

.content > h1 {
    font-weight: 500;
    margin-bottom: 50px;
}

.content > h2 {
    font-weight: 500;
}

p {
    font-size: 90%;
}

li {
    margin-bottom: 10px;
    font-size: 90%;
}

.lineBreak {
    border-top: 4px solid #db524d;
    width: 25px;
}

footer {
    display: grid;
    grid-template-rows: repear(4, 1fr);
    height: 20%;
    border: solid red 3px;
}